
html,body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 10px;
}
body{
    background-color: $greySoft;
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    color: $greyDark;
    font-style: normal;
    overflow: hidden;
    #__nuxt,#__layout,main{
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;   
    }
    main{
        overflow-y: auto;   
    }
}
h1,h2,h3,.h3,h4,h5{
    line-height: 1.3em;
    margin-top: 0;
    .letter{
        display: inline-block;
        line-height: 1em;
        transform: translateY(30px);
        opacity:0;
        will-change: transform, opacity;
        transition: transform $dt $de, opacity $dt $de;
        display: inline-block;
        min-width: .3em;
    }
    &.blue{
        font-weight: 100;
        font-size: 100;
        color: $blue;
    }
    &.light{
        font-weight: 100;
    }
}
h1{
    line-height: 1.1em;
    font-size: 7rem;
    font-weight: 100;
    letter-spacing: .233rem;
    @media #{$media-1024} {
        font-size: 5rem;
    }
    b,strong{
        font-weight: 100;
        color: $orange;
    }
    &.black{
        font-weight: 900;
        b,strong{
            font-weight: inherit;
            color: $orange;
        }
    }
}
h2{
    font-size: 7rem;
    font-weight: 100;
}
h3,.h3{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .1rem;
}
.h3{
    margin-bottom: 1em;
}
h4{
    font-size: 2.4rem;
    font-weight: 100;
}
h5{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .1rem;
    &.small{
        font-size: 2rem;
    }
}

p{
    font-size: 1.4rem;
    line-height: 1.5em;
    margin-top: 0;
    &.small{
        font-size: 1.2rem;
    }
}
strong{
    font-weight: 900;
}
a{
    color: inherit;
}
.btn{
    display: inline-flex;
    align-items: center;
    height: mw(1);
    color: orange;
    position: relative;
    margin-left: mw(1);
    text-transform: uppercase;
    &::before{
        content: ' ';
        display: block;
        border:1px solid orange;
        position: absolute;
        box-sizing: border-box;
        border-radius: 50%;
        width: mw(1);
        height: mw(1);
    }
    span{
        display: inline-block;
        padding-left: calc(#{mw(1)} + 20px);
        &::before,
        &::after{
            content: ' ';
            display: block;
            width: mw(.2);
            height: 1px;
            background: black;
            position: absolute;
            left: calc(#{mw(.5)});
            top: calc(#{mw(.5)});
            transform-origin: center center;
            transform: translate(-50%,-50%);
        }
        &::after{
            transform: translate(-50%,-50%) rotate(-90deg);
        }
    }
}
.cta{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    transition: color $dt $de;
    height: 2rem;
    cursor: pointer;
    &::before,&::after,span::after{
        content: ' ';
        top:50%;
        left: 0rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border:1px solid $greyDark;
        background: rgba($greyDark,0);
        position: absolute;
        left: .5rem;
        transform: translate(-50%,-50%) translateZ(0);
        will-change: transform, margin-left, margin-top, background-color;
        transition: transform $dt $de, margin-left $dt $de, margin-top $dt $de, background-color $dt $de, border-color $dt $de;
    }
    span{
        padding-left: 2.5rem;
        display: block;
        line-height: 1em;
    }
    &:hover{
        &::before,&::after,span::after{
            // border-color:$orange;
            border-color:$black;
        }
        &::before{
            // background: $orange;
            background: $black;
            transform: translate(calc(-50% + 2px),calc(-50% - 2px)) translateZ(0);
        }
        span::after{
            transform: translate(calc(-50% - 2px),calc(-50% + 2px)) translateZ(0);
        }
        // color:$orange;
        color:$black;
    }

    #default.leavePage &{
        opacity: 0;
        transition:opacity $dt $de;       
    }
}
.seoimg{
    width: 100%;
    height: 100%;
    > .wrapper{
        width: 100%;
        height: 100%;
    }
}

.bigFont{
    font-size: 1.5rem;
}