.editorText{
    box-sizing: border-box;
    padding-left: mw(6);
    padding-right: mw(2);
    margin-bottom: mw(1);
    h5{
        transform: translateY(30px);
        opacity:0;   
        will-change: transform, opacity;
        transition: transform $dt $de, opacity $dt $de;
    }
    ul{
        padding: 15px;
        p{
            font-size: 2.4rem;
            font-weight: 100;
            margin-bottom: mw(.125);
            @media #{$media-850} {
                font-size: 2rem;
                margin-bottom: vh(1);
            }
        }
        li{
            transform: translateY(30px);
            opacity:0;
            will-change: transform, opacity;
            transition: transform $dt $de, opacity $dt $de;
        }
    }
    #default:not(.leavePage) &.visible{
       h5{
            transform: translateY(0);
            opacity: 1;
        }
        ul{
            li{
                transform: translateY(0);
                opacity: 1;
            }
            @for $i from 1 to 25 {
                :nth-child(#{$i}){
                    transition-duration: $dt*6;
                    transition-delay: $i * .1s;
                }
            }
        }
    }
    @media #{$media-850} {
        padding: 0 mw(2);
        margin-bottom: vh(15);
    }
}