#mainThree{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    will-change: opacity;
    transition: opacity $dt*2 $de;
    .preloaderGone &{
        opacity: 1;
    }
}