#mainMenu{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: vh(100);
    top: 0;
    left: 0;
    padding: mw(2) mw(1) mw(1) mw(3.5);
    @media #{$media-768}{
        padding-left: mw(2.5);
    }
    @media #{$media-550}{
        padding-left: mw(3);
    }
    box-sizing: border-box;
    display: flex;
    align-items: center;
    pointer-events: none;
    &::before{
        content: ' ';
        background-image: linear-gradient(45deg,$orange,$darkOrange);
        border-radius: 50%;
        width: mw(1);
        height: mw(1);
        transform: translate(50%,-50%);
        right: mw(1.25);
        position: absolute;
        top:calc(#{mw(.5)} + 20px);
        opacity: 0;
        will-change: width, background-color, opacity;
        transition: width $dt $de, height $dt $de, opacity $dt $de;
    }
    .content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        color: $white;
        @media #{$media-768}{
            flex-direction: column;
        }
        a{
            display: inline-block;
            font-size: vw(3);
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 900;
            line-height: .76em;
            position: relative;
            opacity: 0;
            transform: translate(-20px,20px);
            will-change: transform, opacity;
            transition: opacity $dt $de, transform $dt $de;
            @media #{$media-1024}{
                font-size: vw(4);   
            }
            @media #{$media-768}{
                font-size: 40px;   
            }
            @media #{$media-550}{
                font-size: 30px;   
            }
            .number{
                position: absolute;
                right: 100%;
                top: 0;
                margin-right: 10px;
                line-height: 1.4rem;
                font-size: 1.4rem;
                font-weight: 100;
                opacity: 0;
                transform: translate(-10px,10px);
                will-change: transform, opacity;
                transition: opacity $dt $de 0s, transform $dt $de 0s;
            }
            &.nuxt-link-active{
                pointer-events: none;
                -webkit-text-stroke: 1px rgba($white,1);
                -webkit-text-fill-color: transparent;
            }
        }
        
        .col{
            width: 50%;
            flex:0 0 50%;
            margin-bottom: mw(1);
            @media #{$media-1024}{
                margin-bottom: mw(1.5);  
            }
            @media #{$media-768}{
                width: 100%;
                flex:0 0 100%;
                margin-bottom: vh(7); 
            }
            @media #{$media-550}{
                margin-bottom: vh(6); 
            }
            &.half{
                width: 25%;
                flex:0 0 25%;
                a{
                    font-size: 2vw;
                    text-transform: none;
                }
            }
        }
    }

    .headerLanguageSelector{
        display: none;
        position: absolute;
        bottom: mw(1);
        right: mw(1);
        font-size: 1.6rem;
        color: white;
        a{
            text-decoration: none;
            text-transform: uppercase;
            opacity: 0;
            transform: translate(-10px,20px);
            will-change: transform, opacity;
            transition: opacity $dt $de, transform $dt $de;
            &.active{
                font-weight: 900;
            }
            &:last-child{
                margin-left: mw(1);
            }
            &:nth-child(1){
                transition-delay: .2s;
            }
            &:nth-child(2){
                transition-delay: .4s;
            }
        }
        @media #{$media-850} {
            display: block;
        }
    }

    .openMenu &{
        pointer-events: all;
        &::before{
            width: vw(300);
            height: vw(300);
            opacity: 1;
            will-change: width, height, background-color, opacity;
            transition: width $dt $de, height $dt $de, opacity $dt $de;
            @media #{$media-1024}{
                width: vw(400);
                height: vw(400);
            }
            @media #{$media-768}{
                width: vw(500);
                height: vw(500);
            }
        }
        .content{
            // .row{
                .col{
                    a{
                        opacity: 1;
                        transform: translate(0,0);
                        .number{
                            opacity: 1;
                            transform: translate(0,0);
                        }
                    }
                    @for $i from 1 to 10 {
                        &:nth-child(#{$i}){
                            a{
                                transition-delay: $dt*.1*($i - 1);
                                .number{
                                    transition-delay: $dt*.1 + $dt*.1*($i - 1);
                                }
                            }
                        }
                    }
                }
                // &:first-child{
                //     .col:first-child{
                //         a{
                //             transition-delay: 0s;
                //             .number{
                //                 transition-delay: $dt*.25;
                //             }
                //         }
                //     }
                //     .col:nth-child(2){
                //         a{
                //             transition-delay: $dt*.25;
                //             .number{
                //                 transition-delay: $dt*.5;
                //             }
                //         }
                //     }
                //     .col:last-child{
                //         a{
                //             transition-delay: $dt*.5;
                //             .number{
                //                 transition-delay: $dt*.75;
                //             }
                //         }
                //     }
                // }
            //     &:last-child{
            //         .col:first-child{
            //             a{
            //                 transition-delay: $dt*.75;
            //                 .number{
            //                     transition-delay: $dt;
            //                 }
            //             }
            //             ul{
            //                 @for $i from 1 to 20 {
            //                     li:nth-child(#{$i}){
            //                         a{
            //                                 transition-delay: $dt*.75 + $i * .1;
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //         .col:last-child{
            //             a{
            //                 transition-delay: $dt;
            //                 .number{
            //                     transition-delay: $dt*1.25;
            //                 }
            //             }
            //             ul{
            //                 @for $i from 1 to 20 {
            //                     li:nth-child(#{$i}){
            //                         a{
            //                                 transition-delay: $dt + $i * .1;
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
            }
        .headerLanguageSelector{
            a{
                opacity: 1;
                transform: translate(0,0);
            }
        }
    }

   
}