.megaBigText{
    font-size: 12vw;
    font-weight: 900;
    white-space: nowrap;
    line-height: 1em;
    margin-top: vh(50);
    margin-bottom: mw(3);
    transform-origin: center center;
    will-change: transform;
    transition: transform $dt/2 $de;
    .row{
        transform:translateZ(0) translateX(50%);
        opacity: 0;
        will-change: transform, opacity;
        transition: transform $dt*2 $de, opacity $dt*2 $de;
        &:nth-child(even){
            transform:translateZ(0) translateX(-50%);
        }
        .phrase{
            display: inline ;
        }
    }
    .strong,.outline{
        display: inline-block;
        &:not(.last-child){
            margin-right:.3em;
        }
    }
    .strong{
        -webkit-text-stroke: 4px $greyDark;
        -webkit-text-fill-color: $greyDark;
        @media #{$media-768} {
            -webkit-text-stroke: 3px $greyDark;
        }
    }
    .outline{
        -webkit-text-stroke: 4px $greyDark;
        -webkit-text-fill-color: rgba($greySoft,0);
        @media #{$media-768} {
            -webkit-text-stroke: 2px $greyDark;
        }
    }
    .preloaderGone:not(.leavePage) &{
        transform: rotate(-5deg);
        .row{
            opacity: 1;
            transform:translateZ(0) translateX(0%);
        }
    }
    @media #{$media-1024} {
        margin-top: vh(40);
    }
    @media #{$media-850} {
        margin-bottom: vh(20);
    }
    @media #{$media-768} {
        margin-top: vh(35);
        font-size: 16vw;
    }
}