.miniSlider{
    box-sizing: border-box;
    width: 100%;
    max-width: mw(10);
    margin: 0 auto mw(2) auto;
    display: inline-table; 
    .mininav{
        font-size: 2rem;
        margin-bottom: mw(.5);
        display: flex;
        a{
            &.prev{
                margin-left: mw(1);
                margin-right: auto;
            }
            &.next{
                margin-right: mw(1);
                margin-left: auto;
            }
        }
        @media #{$media-850} {
            margin-bottom: vh(4);
        }
    }
    .container{
        position: relative;
        width: 100%;
        height: mw(7);
        flex: 1;
        display: flex;
        overflow: hidden;
        @media #{$media-850} {
            height: mw(12);
        }
    }
    .scrollhider{
        pointer-events: none;
        width: 100%;
        height: 110%;
        flex: 1;
        display: flex;
        overflow: auto;
        position: relative;
        -ms-overflow-style: none;
        scrollbar-width: none;
        z-index: 1;
        .slidercont{
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .slide{
                width: 100%;
                height: 100%;
                display: block;
                .wrapper{
                }
                *{
                    width: 100%;
                    height: 100%;
                    img{
                        object-fit: cover;
                    }
                }
            }
        }
    }
    @media #{$media-850} {
        max-width: mw(18);
        margin: 0 auto vh(15) auto;
    }
}