.modalVideo{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 4;
    background-color: rgba($black, .95);
    box-sizing: border-box;
    padding: mw(2) mw(2) mw(1) mw(2);
    transition: opacity $dt $de;
    overflow-y: auto;
    .content {
        height: 100%;
        iframe{
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            outline: none;
        }
    }
    .openModalVideo & {
        opacity: 1;
        pointer-events: all;
    }
    .title{
        position: absolute;
        top: mw(1);
        left: mw(2.5);
        height: mw(.5);
        color: $white;
        text-transform: uppercase;
        h4{
            margin: 0;
        }
        @media #{$media-850} {
            left: mw(1);
        }
    }
    .close{
        position: absolute;
        top: mw(1);
        right: mw(1);
        width: mw(.5);
        height: mw(.5);
        transform: rotate(45deg);
        cursor: pointer;
        &::after{
            position: absolute;
            content: ' ';
            top:0;
            left: 50%;
            transform: translateX(-50%);
            width: 1px;
            height: 100%;
            background-color: $white;
        }
        &::before{
            position: absolute;
            content: ' ';
            top:50%;
            left:0;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
            background-color: $white;
        }
        @media #{$media-850} {
            right: mw(1);
            width: 30px;
            height: 30px;
        }
    }
    @media #{$media-850} {
        padding: mw(2) mw(1) mw(2) mw(1);
    }
}