.ThreeDText{
    display: inline-block;
    position: relative;
    opacity: 0;
    will-change: opacity, transform;
    transform: translateY(30px) translateZ(0);
    transition: opacity $dt $de,transform $dt $de;
    h1{
        
        position: relative;
        text-transform: uppercase;
        color: $greyLight;
        -webkit-text-stroke: 2px $greyDark;
        -webkit-text-fill-color: $greySoft;
        z-index: 3;
        strong{
            -webkit-text-fill-color: $greyDark;
        }
        &:nth-child(2),
        &:nth-child(3){
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: .8;
            -webkit-text-fill-color: transparent;
            strong{
                -webkit-text-fill-color: transparent;
            }
        }
        &:nth-child(3){
            z-index: 1;
        }
        @media #{$media-850}{
            -webkit-text-stroke: 1.6px $greyDark;
            font-size: 4rem;
            letter-spacing: 0px;
        }
    }
    #default:not(.leavePage) &.visible{
        opacity: 1;
        transform: translateY(0) translateZ(0);
    }
}